# docker-compose.yml
version: '3.9'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - app-network
    environment:
      - NODE_ENV=production

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"  # 将主机端口 8080 映射到容器内部的 80 端口
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
